
.modalBack{
    background-color: rgba(245, 245, 245, 0.718);
    padding: 10px;
    width: 500px;
    box-shadow: 0px 2px 10px rgba(0, 151, 232, 0.837);
    border-radius: 2rem;
}

.modal-overlay {
    position: relative;
    border-radius: 2rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 183, 250, 0.358);
    display: flex;
    align-items: center;
}


.modal-overlay img {
    border-radius: 10px;
    height: 100px;
    width: 100px;
    margin-left: 10px;
    box-shadow: 0px 2px 10px rgba(0, 146, 224, 0.753);
}

.headCenter{
    background-color: rgb(193, 240, 254);
    border-radius: 2rem;
}

.modal {
    position: absolute; 
    top: 10px;
    right: 10px;
    padding: 15px 15px;
    background-color: rgb(238, 50, 50);
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.389);
}

.modal-close-button {
    text-align: center;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}
.headCenter div h1{
    padding: 0px;
    margin-top: -5PX;
}

.headModal{
    display: block;
    padding: 15px 15px 0px;
}

.headCenter{
    text-align: left;
    padding: 0px 20px;
}

.id{
    margin-top: -15px;
    font-size: 10px;
}

.infoUser h4{
    margin-top: -10px;
}
